[2012-06-21 15:10] kitsonk opened #2 "When using Permalinks, relative paths are broken"
When permalinking (e.g. `http://localhost/api/1.8/dijit/_Contained`) it appears the relative URIs do not work properly.

I am looking into this.

[2012-06-21 15:11] kitsonk opened #3 "Improve RESTful API"
Improve/validate the RESTful API with Dojo 1.8 and rstWiki.

[2012-06-21 15:38] wkeese commented on #2
Oh ok... Sounds like something that used to work but that I broke by
removing a bunch of $basePath/$baseUrl references from index.php.   I
didn't consider permalinks of that format.

I imported the svn history so you can see the diff of what I removed.

[2012-06-21 23:22] wkeese commented on #3
One issue is that @csnover's parser is returning HTML rather than markdown (like the old parser did), which means that the JSON output of the restful service will have to contain HTML rather than markdown, which will probably flummox rstWiki.

[2012-06-22 08:54] kitsonk opened #4 "Refactor Declarative Markup"
The declarative markup in the template is using the old style (`dojoType`) attributes.  It should be refactored to use (`data-dojo-type` and `data-dojo-props`).

[2012-06-22 08:55] kitsonk opened #5 "Inconsistent dojoConfig"
The template is using `djConfig` global variable as well as `data-dojo-config` in the arguments.  This should be consolidated to a single way of setting the config.

[2012-06-22 09:15] #4 closed, assigned to kitsonk

[2012-06-22 09:15] #5 closed, assigned to kitsonk

[2012-06-22 09:20] kitsonk commented on #2
Fixed with commit: 37db9bc0f499973d41d8fb751318f3a2900ddd96

[2012-06-22 09:20] #2 closed, assigned to kitsonk

[2012-06-22 09:38] wkeese commented on #2
(updated)

OK thanks... probably the default basePath should be "/api" instead of "", because probably people will have the API viewer as localhost/api.

What do you think?

[2012-06-22 09:50] wkeese opened #7 "hyperlinks for return values, parameter types, "Defined by""
Anywhere that a module name or property/method within a module (ex: gfx/shape/Shape.Rect) occurs in the viewer, it should be clickable to get to that definition.

Note that this is more complicated than it sounds because parameter types can be strings like "Object" or "Number" in which case there shouldn't be a hyperlink.

[2012-06-22 09:58] wkeese opened #8 "version drop down broken"
The new viewer doesn't support viewing the old API data, so using the version drop down should redirect to the old viewer for versions 1.3 --> 1.7.    I guess it can just set the location to http://dojotoolkit.org/api/VERSION/ etc.

Right now it just makes the tree disappear.

[2012-06-22 10:01] kitsonk commented on #8
Looks like it is because there is no `tree.json` for that version.  Maybe the code could be change to validate the existance of that file before offering it up in the drop down list.

[2012-06-22 10:02] kitsonk opened #9 "Need to add current dojotoolkit.org Theme"
The current `dtk` theme does not match the current dojotoolkit.org theme.  A new one needs to be created.

[2012-06-22 10:03] wkeese commented on #8
But then the drop down list wouldn't have any listings at all, besides 1.8.

It's not just tree.json, the details.xml is different, and we no longer have files like provides.xml.    My point is that I don't want the new viewer code to support previous versions but this needs to be hidden from the user by navigating to the old viewer code.

[2012-06-22 10:05] wkeese opened #10 "show class's mixins"
The old viewer showed the inheritance hierarchy, for example:

Object » dijit._Widget » dijit.layout.ContentPane » dijit.Dialog

Strangely it didn't show mixins, only the chain of superclasses.

Anyway, probably we should should all the mixins.

[2012-06-22 11:04] wkeese opened #11 "limit property and method summaries to one line"
The "Method summary" and "Property summary" sections in the viewer have become very verbose, in particular because
- people often just provide a method "summary", which lists all the information about that method
- dojodoc format doesn't allow one to specify a separate summary and description for scalar (ie, non-method) properties
- properties and method summaries are now being processed as markdo

[2012-06-22 23:11] kitsonk opened #12 "Tree Does not Expand"
@dylans reports issues with Tree expansion with Firefox 14.

[2012-06-22 23:44] wkeese commented on #12
Hmm, FF14b8 is working fine for me, both on mac and Windows7.

From @dylans email:

[code]

(no source for http://ajax.googleapis.com/ajax/libs/dojo/1.7/dojo/dojo.js)

[2012-06-23 15:38] ttrenka commented on #8
Probably what you'll need to do is generate tree.json for the older versions of the API docs.  This should actually not be a problem; on deployments where generated data is cached (aka dojotoolkit.org), each version has a cached file for the tree; you can find it at `/data/[version]/cache/class-tree.json`.  From what I'm seeing in the dtk.org repo, versions 1.5 through 1.7 have this file.

You can

[2012-06-23 15:39] ttrenka commented on #8
Links to the ones currently at dtk.org:

http://dojotoolkit.org/api/data/1.5/cache/class-tree.json
http://dojotoolkit.org/api/data/1.6/cache/class-tree.json
http://dojotoolkit.org/api/data/1.7/cache/class-tree.json

[2012-06-23 15:41] ttrenka commented on #9
The version of the API viewer at dtk.org has this theme already in place; the name of the theme must be set in the config.php file, and there should be a matching directory under /themes.  The only file that is truly affected is /index.php (iirc there's been some slight modifications to it directly in the dtk.org repo, but those mods are minor.)

[2012-06-23 15:45] ttrenka commented on #10
This was done for a reason, mainly because when you start adding mixins that happen deeper in the chain, the _actual_ inheritance chain ends up getting very muddy.

Mixins for an object are currently listed as the last item at the top of a page, before the field lists are added. See http://dojotoolkit.org/api/1.7/dijit/form/FilteringSelect for an example.

[2012-06-24 02:34] wkeese commented on #10
Ah I see, didn't notice the mixins listing before.

I agree that listing the whole inheritance tree would be overwhelming, I just meant that the direct mixins should be listed.   I must have removed that code inadvertently, and will put it back.

[2012-06-24 09:18] wkeese opened #13 "class level summary"
Problems displaying class level summaries:
1. It's printing a "usage" section that is no longer accurate in the world of AMD:

   Usage:
   var foo = new dijit/Menu();
2. description not summary

It's only displaying the description, not the summary... so why do classes have both summaries and descriptions?

[2012-06-25 16:13] #9 closed, assigned to kitsonk

[2012-06-27 10:21] kitsonk opened #14 "Double Scroll Bars in TreeView"
Adrian states:

[2012-06-27 10:49] AdrianVasiliu commented on #14
And this holds for both http://bill.dojotoolkit.org/api/ and http://dojotoolkit.org/api/ .

[2012-06-27 12:01] cjolif opened #15 "Add the ability to hide properties/methods define by a 3rd party module"
By default if a 3rd party module is patching your class to add more properties/methods on it it will show up in the documentation.

This is good in general. However this might lead in certain cases to tons of additional properties not facilitating reading it. The viewer could provide a switch to hide those.

See also csnover/js-doc-parse#52

[2012-06-27 12:05] cjolif opened #16 "kwArgs expension seem to not end up at the right visual place"
See for example the doc for dojox/charting/action2d/PlotAction constructor. The constructor say:

"An object with the following properties:

[code]

"

While it should be in the doc of the kwArgs attribute?

[2012-06-27 12:32] wkeese commented on #16
The description of kwArgs is listed as though it were the constructor's summary.   details.xml looks OK.

OK I see, the viewer code incorrectly assumes that the first `<summary>` node which is a descendant of `<method>` is the method's summary, but in Colin's XML output the parameter summaries and descriptions precede the summary/description of the method itself.

[2012-06-27 13:38] #16 closed, assigned to nobody

[2012-06-27 13:51] wkeese commented on #16
So it's really only half fixed, but I moved the remaining issue to csnover/js-doc-parse#53.

[2012-06-27 13:56] cjolif commented on #16
thanks @wkeese

[2012-06-27 13:59] ttrenka commented on #14
This is either a Dijit bug or a bug in the way I set up the content panes on the left side of the viewer, and has been there since the viewer's original launch.  I didn't do anything special in terms of CSS or whatnot with that IIRC, so it might be worth it to be looking at Dijit itself for this one.

[2012-06-28 04:27] wkeese commented on #15
The "inherited" button will show/hide these values, but it also hides everything that's inherited in a normal way (like how Dialog inherits "id" from _WidgetBase).

It's hard for me to do more because the parser output doesn't differentiate between 3rd party modules and pure ancestors.

[2012-06-28 07:42] wkeese commented on #14
I can easily reproduce this against 1.7 (both Google CDN, and local checkout), but it's working against trunk (at least for me).   So I don't think it's worth investigating further.

As for the viewer itself, it does have an unnecessary ContentPane (i.e. the Tree could be a direct child of the Accordion), but that's not a fatal error.

[2012-06-28 07:42] #14 closed, assigned to nobody

[2012-06-28 15:37] ttrenka commented on #14
You could remove the unnecessary ContentPane; that's in index.php.  I seem to remember trying it and having issues but I wrote this originally against 1.5...and you are undoubtedly the Dijit master =)

[2012-06-28 15:44] ttrenka commented on #13
Summaries were always intended to be just that: a quick summary of what something represents.  This was intended for use in things like listings as opposed to a full-on look at a potential object.

On the usage thing...that's basically hardcoded, based on the original `<object location="foo.bar" />` expectation.  For the AMD world, I'd expect something more inline with how you'd use it.  In the or

[2012-06-28 22:06] wkeese commented on #13
Ok... But can you show an example page (in the old API doc) where the
summary for a class is getting displayed?

[2012-06-28 23:03] ttrenka commented on #13
On an object/class page, I didn't display summary, ever. `lib/generate.php`, original line 1018.

[2012-06-29 06:42] wkeese commented on #13
I was just wondering if you displayed the summary anywhere else, like on the dijit page itself, or a tooltip when the Tree's nodes are hovered, etc.

[2012-06-29 13:56] ttrenka commented on #13
You know, I didn't but I probably should have (original `generate.php`, starting at line 1090)...would have been in the list of "attached objects".

[2012-07-01 09:21] kitsonk opened #17 "Improve theming CSS"
The current theming requires that the theme's CSS file to be named the same as the theme.  This affects portability slightly, in that the "hook" files within a theme should be consistent, so that themes can be renamed without having to worry about the names of the files within the theme.

I will patch this in.

[2012-07-01 09:25] #17 closed, assigned to kitsonk

[2012-07-01 10:11] kitsonk opened #18 "Return type for constructors broken"
The return type for constructors is broken.  It references `$location` which is undefined.

[2012-07-01 10:14] #18 closed, assigned to kitsonk

[2012-07-01 10:50] kitsonk opened #19 "Namespaces should be Packages"
The API reviewer refers to things as "Namespaces" when it should be updated to reflect "Packages" in the "modern" Dojo world.

Both the ICON and the hints need to be changed.

[2012-07-01 12:41] wkeese commented on #19
Hmm, I don't think dojo/cldr is a package, do you?

[2012-07-01 13:19] kitsonk commented on #19
Maybe, although it would be more appropriate to call it a package that
contains modules and non-modules, but dojo/promise, dojo/request,
dojo/router, dojo/errors, dojo/store and dojo/_base aren't namespaces.
 Namespaces seems very anti-AMD-ish.

On 1 July 2012 13:41, Bill Keese <
reply@reply.github.com

[2012-07-01 14:10] wkeese commented on #19
dojo/promise, dojo/router etc. aren't really anything, they are just a UI abstraction used to display a tree of modules rather than a flat list of modules.

AMD doesn't have any concept of hierarchy.

[2012-07-01 14:28] wkeese commented on #19
Probably it should just be using a folder icon, so that it doesn't seem like dojo/cldr is a "real thing".

And on a related note, for cases like dojo/date, which is both a module and the folder where dojo/date/locale lives, perhaps the tree should have two TreeNodes, one for the module and another for the folder.

[2012-07-01 14:49] kitsonk opened #20 "Constructor Improvements"
The constructor API for objects should be at the top of the page for Classes, instead of just being listed as a method of the class.

[2012-07-01 14:50] kitsonk opened #21 "Constructors Icons"
Constructors are being tagged as "functions" instead of "constructors" in the API viewer when displayed under as a method.

[2012-07-01 18:23] #19 closed, assigned to wkeese

[2012-07-03 15:43] ttrenka commented on #20
There's a problem with doing that...mainly because something explicitly marked as a constructor is usually the result of something dojo/_base/declare. In theory, because of the way declare works, the constructor method is actually a method of the returned object, as opposed to being a function that attaches things to the activation object that is returned from a "standard" JS constructor.

It's on

[2012-07-03 15:48] kitsonk commented on #20
I was noticing that in the current form of the API viewer, nothing was getting marked a constructor, although js-doc-parser can flag something as a constructor.  I need to investigate if those things that are getting flagged as a constructor are just not showing the right icon.  If they aren't, then it will be an API viewer thing, if they are simply not getting flagged, then obviously it is a limi

[2012-07-04 06:23] #11 closed, assigned to wkeese

[2012-07-04 10:56] #10 closed, assigned to nobody

[2012-07-04 10:56] #7 closed, assigned to nobody

[2012-07-04 10:56] #20 closed, assigned to nobody

[2012-07-04 10:59] wkeese commented on #20
@kitsonk - you might want to tweak the CSS etc. for how this shows up, but basically it's working :-)

[2012-07-04 11:01] wkeese commented on #21
This is fixed in the sense that there's no longer any icon shown for constructors (see #20).

[2012-07-04 11:01] #21 closed, assigned to nobody

[2012-07-04 11:20] #13 closed, assigned to nobody

[2012-07-04 11:36] wkeese opened #22 "add back the bug report link"
Add the:

[code]

link that's at the bottom of http://dojotoolkit.org/api.

[2012-07-04 14:04] ttrenka commented on #22
Just so you know, the version of /js/api.js in this repo is probably different from the one at dtk.org/api.  You can probably just drop in the dtk.org version and it should work as is (Colin put the bug reporting stuff in there).

[2012-07-04 23:05] wkeese opened #23 "subtle bugs with "private" and "inherited" buttons"
Toggling on private properties (and methods) will display private methods from inherited classes even if the "inherited" button is toggled off.    For example, on the dijit.Menu page, hide both privates and inherited's, then show privates, and _attachEvents will show up even though it's supposed to be hidden because it's inherited.

Also, there is shading for alternate rows of the "property summar

[2012-07-05 02:33] wkeese opened #24 "top level function info missing"
For modules like dojo/query and dojo/on that return a method, not all the information is being printed, specifically, the list of parameters to the function.

[2012-07-05 05:15] #23 closed, assigned to wkeese

[2012-07-05 05:15] #24 closed, assigned to wkeese

[2012-07-05 07:01] kitsonk opened #25 "$page in read_method_info"
I am getting quite a few errors thrown in regards to variable being unassigned in generate.php.  Taking a look at the code, it is trying to figure out if something in inherited by comparing it to a non-existent variable (line 172):

[code]

`$page` doesn't exist in this scope.

[2012-07-05 08:52] wkeese commented on #25
Ah sorry about that, I checked in a fix (ef311caa7c0a6734cd1df054ce4be28689a0dba2).   Not sure why I don't see the
errors though.

[2012-07-05 08:53] #25 closed, assigned to nobody

[2012-07-05 09:24] kitsonk commented on #25
Could be that your PHP is configured to not output the errors in the output
stream.  At least on my machine, any PHP errors are getting written as part
of the return text and so I see them in the application.

[2012-07-05 20:01] kitsonk commented on #15
I am going to comment on csnover/js-doc-parse#52 as well, because if you look at _WidgetBase, it is simply mis-flagging things as "inherited" versus "extended" or "mixed-in" or whatever.  I have added functionality to the inlining to differentiate between "inherited" and "foreign", it would in my mind make sense to make "inherited" only mean properly part of the declaration chain.

[2012-07-05 22:18] wkeese commented on #15
You mean that you don't want Menu to list that it inherits _TemplatedMixin, because it's a mixin?   What's the point?

[2012-07-06 05:18] kitsonk commented on #15
No I don't want dijit/_WidgetBase to say it inherits `colspan` from dojox/layout/TableContainer, which it does now, or `closable` from dijit/layout/StackContainer.  Because it doesn't inherit those from there.  They are extensions that only happen when the other module is loaded.

I want things that are inherited to be properly marked as so and things that are not inherited not to be marked as so.

[2012-07-06 06:24] wkeese commented on #15
My point is that only 10% of the properties are inherited.   85% are mixed in, and the remaining 5% are from "third party modules".   So be exact in what you are asking for.

[2012-07-06 06:50] kitsonk commented on #15
I understand...

If you look at `dijit/_WidgetBase` though, that is clearly not the right ratio, and it will be wholly confusing to anyone.  Of the properties in _WidgetBase, I count 19 declared in the class, 0 inherited, 0 mixed-in and 29 extensions (which are flagged as "inherited: true").  No matter how you define it, right now "inherited" is not accurate.  In fact it is meaningless.

To be mor

[2012-07-07 06:21] kitsonk opened #26 "Command to blat the cache"
There should be something that can be run to blat the cache when "refreshing" the api-viewer.

[2012-07-07 06:36] #26 closed, assigned to nobody

[2012-07-07 06:45] kitsonk opened #27 "$details variable does not exist"
In `lib\generate.php` on line 792, the variable `$details` is being appended to, it doesn't exist at that point and then is actually never read, because it is wholly reassigned at line 869:

[code]

[2012-07-07 06:50] kitsonk opened #28 "Undefined Index "topfunc""
`generate.php` is incorrectly trying to determine an existence of a key in an array.  Currently is has:

[code]

When in PHP it should be:

[code]

(Also known as what happens when JS developers do PHP)

[2012-07-07 06:50] #28 closed, assigned to nobody

[2012-07-07 07:59] wkeese commented on #26
@ttrenka said there was already a command but I don't remember what it is.

Although you can avoid the problem while testing by not having a writable
cache directory.

[2012-07-07 08:18] wkeese commented on #15
Anyway I can hack something in the exporter to flag those third party
fields differently, and then do something appropriate in the viewer.
Either a hide button, or perhaps a separate section for each third party
module.

I think the question is really whether or not the current module directly
or indirectly requires the module that defines the property.

[2012-07-07 08:45] wkeese commented on #15
PS: actually it's easier to check in reverse, if the module that defines
the property directly requires the module that defines the class, then the
property is third-party.

[2012-07-07 13:28] ttrenka commented on #26
Yeah, there's two things built in:
1. add ?clearcache=true to the URL to do it from the browser.
2. Enable/disable the cache through the config.php file.

[2012-07-07 13:59] ttrenka commented on #26
I should add that the variable in question in config.php is $use_cache; set it to false if you want pages generated each time it gets hit.

[2012-07-07 18:38] wkeese commented on #28
Hmm, well the rest of the code uses array_key_exists(), perhaps that's better?

... yah, looks like in_array() is just wrong because it checks for a value, not a key, and this change breaks the display of the top function (ex: dojo/on) completely.   I'll check in a fix.

[2012-07-07 23:28] wkeese commented on #26
@kitsonk, is there any point to 5d80b8b when users can already clear the cache through the browser, via `?clearcache=true` ?

I don't know, maybe a script is better so that it can only be run by someone w/access to the server.

[2012-07-07 23:40] #27 closed, assigned to nobody

[2012-07-08 07:57] kitsonk commented on #26
I didn't realise both things where there.  I will remove my stuff.

Also my blatting the cache, at the moment, is only UNIX like.

[2012-07-08 14:13] ttrenka commented on #26
If it helps, when I was working on the viewer I always set `$use_cache` to false, although in general I did that in conjunction with re-parsing source code (i.e. changes in the documentation itself, not the viewer).

[2012-07-09 02:42] #15 closed, assigned to nobody

[2012-07-09 02:45] wkeese commented on #15
See what you think.

Note this feature also requires https://github.com/wkeese/js-doc-parse/commit/c841836009b2b13db8cd9f0d028985f8b81be3d2,

[2012-07-09 05:53] kitsonk commented on #15
Exactly what I had in mind!  Looking at dijit/_WidgetBase and dijit/_Widget now "make sense" to me.  I will need to see how this is manifesting itself in the REST service.

[2012-07-09 09:00] kitsonk commented on #15
The only remaining question I would have about this, is that extended methods/properties/events are not propagated down to the descendants.  Personally I am comfortable with that, but, for example, you will see some of the code base is extending `dijit/_WidgetBase` and `dijit/_Widget` and none of those extensions are visible in a descendent class.

This is one of the reasons to have the Reference

[2012-07-09 09:28] wkeese commented on #15
How many of the third-party properties added to _WidgetBase are there for the benefit of the parent widget (ex: layoutAlign), and how many are true extensions to _WidgetBase, like the stuff from _BidiSupport?

Because the properties for the parent widget (arguably) shouldn't be listed on the _WidgetBase documentation page at all, but rather just in the documentation for the parent widget (ex: Bord

[2012-07-09 09:56] cjolif commented on #15
@wkeese I do agree the parser problem will disappear in 2.0 but still even if that properties are for the parent widget, the user will actually have to define them on the child widgets and so I think it is important to get a sense of that when reading the regular API widget documentation to know that you will be able to specify information for your parent widget on the child widget? That said I ag

[2012-07-09 10:20] kitsonk commented on #15
On this side topic, I am not sure what that would improve. I can understand why Java needs it, but with JavaScript's loosely defined objects, we should embrace the language versus artificially constraining it.  If there was a distinct advantage that isn't obvious to me, then I would be for it.

[2012-07-09 10:53] wkeese commented on #15
On Mon, Jul 9, 2012 at 6:56 PM, Christophe Jolif <
reply@reply.github.com

So, something like this in BorderContainer's API doc isn't sufficient?

// description:
//      ...
//      The child widgets must have the following attributes:
//
//      - layoutAlign: this is for ...

[2012-07-09 11:01] cjolif commented on #15
@wkeese this is obviously better than nothing and that's maybe the best solution for now.

That said when I look at the API doc of an object I like to see on that object (an not its potential parent) that I can set properties for its parent directly on the widget itself. Obviously for someone knowing Dojo already that is not a big gain but for someone new this is not obvious that you must look at

[2012-07-09 12:13] wkeese commented on #15
I can see the value in that.   The problem is that it doesn't scale well, as shown by all the properties added to _WidgetBase.    So the question is, does displaying those parent-child properties on the child do my harm than good?

PS: from Kitson's comment below he clearly believes "more harm than good".

[2012-07-09 12:14] kitsonk commented on #15
@cjolif that is what worries me a bit, if we auto include those extensions, then EVERY Dijit will have a property list that is as long as your arm.  Something like 30/40 extended properties and would defeat the purpose/confuse the API guide.  I think it is part of why we need the Reference Guide.  How is someone who is new to Dojo, who sees the property "colspan" on a Dijit understand that that is

[2012-07-10 02:13] wkeese commented on #8
Closed this, as it can be handled outside of the viewer.

[2012-07-10 02:13] wkeese commented on #12
Closing since I can't reproduce.

[2012-07-10 02:13] #12 closed, assigned to nobody

[2012-07-10 04:27] wkeese commented on #22
Well, it's too late for that now, but I'll grab the relevant change(s) from the DTK one, https://svn.dojotoolkit.org/infrastructure/sites/dojotoolkit.org/api

[2012-07-10 04:29] #22 closed, assigned to kitsonk

[2012-07-13 08:25] cjolif opened #29 "links to package/mobule.SubObject are not working"
See for example dojox/mvc/at documentation. It correctly states:

[code]

but the link is going to http://bill.dojotoolkit.org/api/dojox/mvc/at#handle

instead of probably http://bill.dojotoolkit.org/api/1.8/dojox/mvc/at#handle or maybe  http://bill.dojotoolkit.org/api/1.8/dojox/mvc/at.handle

note that this last page exists but not linked at all from the handle definition in dojox/mvc/at.

[2012-07-13 09:29] #29 closed, assigned to nobody

[2012-07-13 21:49] wkeese opened #30 "improve how properties split into sections"
Although we now have separate pages for major objects exported from a module (ex: dijit/Tree.TreeNode), it's still confusing how the main module page is laid out:
- constructors are appearing in the "methods" section
- (relatedly) prototype properties and normal properties are mixed together

Probably there should be a separate section for normal properties, or at least normal properties that have

[2012-07-16 14:30] cjolif opened #31 "show private/extension/inherited button should be permanent"
When I choose one of those (like hiding inherited) and navigate to another class this is losing my preference. Usually when I should a preference I like it to be sticky.

[2012-07-16 23:22] wkeese commented on #31
I can see the argument for that.   One gotcha is that the buttons are currently on a per-tab basis, allowing different settings for different tabs.   If they were sticky probably we would the buttons to appear to be global for the page, and pressing a buttons affects every single tab, right?

[2012-07-18 08:36] cjolif commented on #31
in that case yes the buttons would need to be shared.

[2012-07-19 21:43] wkeese opened #32 "show all tags"
There's lots of information in tags that we aren't showing, like:
- protected
- extension (to indicate that functions are meant to be overridden)
- const
- readonly

Perhaps we should just display all the tags as words.

[2012-07-19 21:45] wkeese opened #33 "kwargs return types not expanded"
See for example dojo/_base/declare.   The return type is just listed as __DeclareCreatedObject, rather than listing the properties inside of __DeclareCreatedObject.

[2012-07-19 22:52] wkeese opened #34 "bad "see also" when objects in prototype"
See dijit/form/RangeBoundTextBox.   It has a "see also" for RangeBoundTextBox.constraints, but the link doesn't lead anywhere.

Probably the description should be inlined... only non-prototype objects should get their own page.

[2012-07-19 22:54] wkeese commented on #34
See also dijit/form/ValidationTextBox.constraints although that seems to be working better.

[2012-07-22 02:50] wkeese commented on #33
The alternative to fixing this is to make all types (ex: `__IOArgs`) available as exports from a module, and then specifying them as a MID+property combo, ex: `dojo/_base/xhr.__IOArgs`.    Then the API viewer can handle it, and doc-parse doesn't need to do anything.

I did that for declare() in http://bugs.dojotoolkit.org/changeset/29365/dojo.

Since that's at the least a workaround, I'll mark thi

[2012-07-28 02:49] #8 closed, assigned to wkeese

[2012-07-28 03:15] wkeese commented on #8
Note that I decided to handle displaying the old version data by using the old item.php and generate.php scripts.   Not sure if the old item.php is necessary or not, but the old generate.php definitely is, since the data format has changed quite a bit.

As for the tree, note that tree.json is a different format than class-tree.php outputs, since the latter was !ItemFileReadStore format.    But I w

[2012-08-10 00:26] wkeese opened #35 "can't open same object from multiple versions"
If you open dijit/DialogUnderlay in version 1.8, then you can't simultaneously open the 1.7 version, because clicking that entry gets an exception about duplicat id's.

cc @dylans

[2012-08-10 00:29] #33 closed, assigned to wkeese

[2012-08-10 00:30] wkeese commented on #33
OK, for now the policy is that all types need to be specified as full MID's.

[2012-08-10 20:25] wkeese opened #36 "parameters not displayed for constructors in usage sections"
See for example dijit/Dialog page.   It lists the parameters in the table, but not in the Usage section above it:

Usage:

var foo = new Dialog()

Also missing a semicolon.

[2012-08-11 01:19] #36 closed, assigned to nobody

[2012-08-11 01:19] #35 closed, assigned to nobody

[2012-08-11 01:21] wkeese commented on #35
I added the version number to the tab label (and more importantly, the tab id), hope that makes sense.

BTW, note that this wasn't possible with the old viewer either.

[2012-08-15 21:16] wkeese opened #37 ""welcome tab" has lots of broken links"
Needs to be redesigned, there's no page for "dijit" anymore etc.

[2012-08-19 06:20] dylans commented on #37
https://github.com/wkeese/api-viewer/pull/39 has a patch that should address this for now.

[2012-08-19 08:15] kitsonk opened #40 "Ability to Open Reference Guide from API Tree"
A request has been made to be able to open the Reference Guide from the Tree:

[2012-08-19 08:28] wkeese commented on #40
Yup, it seems like a good idea, perhaps just to open both pages in all cases.   But first need to fix https://github.com/phiggins42/rstwiki/issues/22, right?

[2012-08-19 08:34] kitsonk commented on #40
Yes.  I will try to take a look at that one over the next couple of days.

[2012-08-19 10:58] #37 closed, assigned to nobody

[2012-08-19 11:00] wkeese commented on #40
Thanks.   I wonder if there's a better UI than opening two tabs, like perhaps concatenating all the info into the same tab.   In any case, we need to start with the chromeless reference doc.

[2012-08-19 19:14] jrlacy opened #41 ""close all" / "close others" options on tabs"
You can wind up with a lot of open tabs.  I'd like the ability to close them all without refreshing the page.  Basically just want to add 'close all' and 'close others' to the right-click tax context menu you get on the tabs.

[2012-08-19 22:20] wkeese commented on #41
Yup, I've thought about this too, it would be a good option for the TabContainer in general.

[2012-08-23 22:23] dylans opened #44 "Type ahead find/search"
Now that the API docs are so much more comprehensive, the newest complaint is the tree, and the lack of a search option in the UI.

Not sure how we would best implement this.

[2012-09-13 05:03] dylans opened #46 "_base not showing up in 1.7 or 1.6 versions of the API viewer"
I believe we have a regression with our backwards compatibility support. Things like dojo/_base/ aren't showing up in the tree for the 1.7 and 1.6 versions of the API.

[2012-09-13 05:05] dylans opened #47 "Bad user experience on slow networks"
When using the API viewer on a slow network, the request to load the items under dojo or dijit may take 5-15 seconds, but there's no user feedback that the tree is loading. This may lead a user to click on the tree again, which then would close the tree.

A possible solution would be to give some sort of user feedback that the tree is loading, etc.

[2012-09-13 13:23] wkeese commented on #47
Tree does have a loading indicator but I guess not for the root node.   So
probably it should do the XHR to load the data not in the getRoot() call
but after that, when it gets the first level of children.  Or fix Tree to
show the indicator for the root node too.

[2012-09-13 13:28] wkeese commented on #46
Pre-1.8 the tree shows global variables like dojo.byId, not module id's
like dojo/_base/html.  Why would you expect dojo/_base to appear?

[2012-09-27 23:31] flankwhistlevanish commented on #44
I would like to view the entire API as a single page so I can use the browser's text search.  If the entire API is too large to load as a single page it would still be useful to download the API docs as a single text/html file and search it with a text editor.

[2012-10-01 12:11] #46 closed, assigned to nobody

[2012-10-01 12:17] wkeese commented on #44
Not sure if the typical browser could handle the entire API on one page, but it's an interesting idea.

I agree that there should be some kind of search function.   Not easy to implement though.

[2012-10-24 06:32] kitsonk opened #48 "has() documentation"
This probably affects js-doc-parser as well, but we don't have any inline documentation for `has()` features.  I am not sure what is appropriate, but we should have something, as you have to simply "guess" at what the feature is.

[2012-10-24 07:59] wkeese commented on #48
Yeah I agree, probably something to hack it into the existing infrastructure like having some fake module (similar to dojo/NodeList) where all the other modules that define flags add their definitions into that fake module.

[2012-10-24 08:41] kitsonk commented on #48
Yeah, I guess that makes sense... extending the has object with each feature as a property?  Other modules that do a has.add() could do the same and then it would all collapse back to dojo/has.

[2012-10-24 12:09] wkeese commented on #48
Yah.   Well, probably not the has object itself, but an object within it, like dojo/has.__Flags.

[2012-11-07 08:27] wkeese commented on #47
OK, fixed in http://bugs.dojotoolkit.org/ticket/16302.

To further speed things up, I'm sure the size of the tree.json file could be reduced, and we could even do lazy loading of the Tree data.    It's just a question of diminishing returns, since the Tree already loads quickly over a broadband connection.

[2012-11-07 08:27] #47 closed, assigned to nobody

[2012-11-16 14:01] chitwarnold opened #50 "ReferenceError: location is not defined"
i cant seem to get anything working, i keep getting this Error, am trying to generate documentation for dojo 1.8 from the source files, and nothing. this is the complete error on the console

call55@maximus-pc:/opt/lampp/htdocs/js-doc-parse$ ./parse.sh /opt/lampp/htdocs/dojo1.8

/opt/lampp/htdocs/js-doc-parse/dojo/dojo.js:237
            var locationProtocol = location.protocol,

[2012-11-16 16:23] speich commented on #50
I'm having problems myself to get it running, so not that I know what the problem is, but if you are on windoze your basePath should be an absolute path and you should use backslashes and escape them.

[2012-11-17 04:12] wkeese commented on #50
I don't know why you're getting that error either.   If anything though it's an issue with the doc parser (https://github.com/csnover/js-doc-parse) not the api viewer.

But I think if speich's advice doesn't work then you'll need to use a debugger (google debugging on node), and trace through to see what the problem is.   Or go low tech and add console.log's.

[2012-11-17 04:12] #50 closed, assigned to nobody

[2012-11-18 17:29] chitwarnold commented on #50
waste of my time, stick to what i know for the current project, if anyone has a wrapped api kindly zip it and host it on github advice i will really benefit.i have YUI for the meanwhile

[2012-11-18 22:24] chitwarnold commented on #50
yep 5 hours later and courtesy  of the - "There somethings only Dojo can do for me either that or raw js.."  yep managed to build the API in three different local sites each for the major packages (dojo,dijit,dojox), and this for me is better than nuthing and a huge step. thanks for the great tool,and sorry for the whinning,its what al newbies do. regards God Bless

[2013-03-06 12:09] dylans opened #54 "spider.php does not work"
spider.php has not been updated to work with the new documentation format.

This should be updated, but in the interim, the README still lists this as an option that works, so this should be updated or removed until this issue is fixed.

[2013-03-22 00:04] dylans opened #55 "Slow to expand on FF when on a slow network"
When on a hotel network or 4G network, clicking on Dojo or DojoX is very slow to open (10-20 seconds), and provides no visual feedback that it is loading. Chrome by comparison opens right away.

[2013-03-22 00:34] wkeese commented on #55
You're comparing "DojoX" to "Chrome"?   It doesn't make sense.

[2013-03-22 01:29] dylans opened #56 "Mobile view"
We receive many complaints that the API viewer does not work well on tablets or phones. Let's see if we can clean that up a bit after 1.9 is out.

[2013-03-22 01:30] dylans commented on #55
No, I'm saying it's slow to expand/collapse on FF (see the ticket title), but fast on Chrome. I notice this when I'm on a slow network connection only.

[2013-03-22 01:40] wkeese commented on #55
Hmm, that's odd.   It fetches all the data when the tree is initially displayed.  Perhaps it's an issue downloading the icons.  What does firebug's NET tab show you?

Since it's limited to slow network connections, I don't think it's an issue with the animation.

[2013-03-24 11:24] kitsonk commented on #55
Also, could it have been that the tree data was cached in Chrome, but not in FF, requiring a load?

[2013-03-24 13:03] wkeese commented on #55
Maybe... except then, it should be slow to display the initial tree, not to open the dojox branch.   Because it's downloading the data all at once.  (Even though it shouldn't be.)

[2013-03-27 13:50] jjcastano opened #57 "I hava a problem generating tree.json and details.xml.."
I'm trying to generate tree.json and details.xml with js-doc-parse (master branch) in MacOS but I always get the same problem when running parse.sh.

I have this folders with this configuration:
![folders](https://f.cloud.github.com/assets/3969214/308313/fe7f95dc-96e4-11e2-931b-11683bc45817.jpg)

And I get this error.. Any Ideas?:

{ [Error: multipleDefine]
  src: 'dojoLoader',
  info:
   { pid: '

[2013-03-27 19:59] wkeese commented on #57
That's not supposed to work.    As the instructions (https://github.com/wkeese/api-viewer) say, you need to use the all-my-changes branch.

[2013-03-27 19:59] #57 closed, assigned to nobody

[2013-03-27 23:11] wkeese commented on #56
Please list out the complaints.   This ticket is too vague to take any action.

[2013-03-28 13:47] dylans commented on #56
Try pulling the UI up on the iPad, as it's basically unusable:
- Tree does not scroll on mobile devices (no touch events?)
- Tapping an item from the tree does not display the API details on the right side
- Cannot see the legend details
- For the sections you can view (by clicking on the initial links on the right side of the UI), scrolling is rather slow

On the iPhone, to be useful, the tree wo

[2013-03-29 00:36] wkeese commented on #56
I see.  Actually all of these are working with the latest code, see http://bill.dojotoolkit.org/api/, except for the legend, which I'll fix now.

As for iPhone that sounds more like a separate app than a bug against this api-viewer.  Ideally it wouldn't be a Tree at all but a nested EdgeToEdgeList or something like that.

[2013-03-29 00:37] #56 closed, assigned to nobody

[2013-03-29 00:47] wkeese commented on #54
I see.   I'm not going to fix the spider scripts, so I just removed them.   At some point in the future everything will be converted to javascript, and we can reconsider then.

[2013-03-29 00:47] #54 closed, assigned to nobody

[2013-03-31 00:01] wkeese opened #58 "enable google (and other search engine) indexing"
index.html needs to have static table of contents (or link to them), and permalinks like http://localhost/api/dojo/_base/array need to embed the text for the specified module rather than just loading it via XHR.

[2013-03-31 02:52] wkeese commented on #58
fixed by fec97072e77ad11492e71aeff02c515531589b0b

[2013-03-31 02:52] #58 closed, assigned to nobody

[2013-04-09 00:12] shioyang opened #59 "ERR: TypeError: Object true has no method 'match'"
The following error occurs, when I issued "parse.bat config=./config.js".
How can I resolve this problem? I would appreciate if you could give some advice.

I did on command prompt with Admin:
        $ git clone --recursive https://github.com/wkeese/js-doc-parse.git
        $ cd js-doc-parse
        $ git checkout all-my-changes
        $ [Edit config.js: configure basePath and replace \ to \\]

[2013-04-09 00:24] zemanel opened #60 "js-doc-parse 'all-my-changes' branch has git merge issues"
the documentation generation instructions refer to the 'all-my-changes' branch of

https://github.com/wkeese/js-doc-parse/

but the 'all-my-changes' branch has issues with a badly merged branch ("<<<<<<< HEAD" artifacts):

https://github.com/wkeese/js-doc-parse/blob/all-my-changes/lib/exporter/dojov1.js#L287

[2013-04-09 00:55] wkeese commented on #59
I tried pulling the latest code from csnover, and uploaded to https://github.com/wkeese/js-doc-parse.git.   You can try again.   Latest changes are on master branch, not the all-my-changes branch.

[2013-04-09 00:58] #59 closed, assigned to nobody

[2013-04-09 01:12] wkeese commented on #60
OK, I moved my changes to the master branch and updated the instructions.   The bad merge seems to be gone.

[2013-04-09 01:12] #60 closed, assigned to nobody

[2013-04-09 01:17] shioyang commented on #59
Hi, thank you for your reply.

I removed all files and tried again. At this time, I just issue "git clone --recursive https://github.com/csnover/js-doc-parse.git" and "parse.bat config=./config".
A same problem happened...

[2013-04-09 01:20] wkeese commented on #59
OK sorry, I never use windows anymore so I don't know how to make that work.   As you can see from changes like https://github.com/csnover/js-doc-parse/commit/6ac54c4cdc4e8fbd25214c93c49cff30cb75d6c8 parse.bat is apparently working for some people.   Maybe you can ask them.

[2013-04-09 02:01] shioyang commented on #59
I see. I will post it to csnover/js-doc-parse. Thank you.

[2013-05-19 00:47] wkeese commented on #3
I don't know what you want to do here.   @lbod and I are planning to get rid of it completely, since you can just load the JSON file with all the data in it yourself.

[2013-06-27 20:21] lbod opened #61 "jsdoc-toolbar needs position:relative"
Strange I only noticed this the other night (as it looks like it's been there for some time?) but you'll see the if you scroll down a module content pane e.g. http://dojotoolkit.org/api/1.9/dijit/MenuBarItem the jsdoc-toolbar contents don't scroll and the position is static.

edit: unless you want it to remain fixed which is a different issue

[2013-06-28 04:41] wkeese commented on #61
I've noticed that before too.   The current behavior is definitely wrong, because when you scroll, the main text and the toolbar text appear on top of each other, and the user can't read anything.

As to whether the toolbar should be position:static (along with a position:static opaque background) or should scroll with the module content, I don't have an opinion.   A few years ago it was popular t

[2013-09-20 02:51] chrisfelix82 opened #62 "API viewer not displaying docs"
I have installed the api viewer.  I am able to load the tree, but when I click on a file, I see a 404.  e.g. http://<server>/api/apidata/1.0/commonapp/welcome/testView.

WHy is it looking for the docs in apidata at that level.  I thought it was suppose to look in api_data - the sibling of api directory.  What am I missing??

Thanks

[2013-09-20 03:26] wkeese commented on #62
Sorry, I don't know why it's not working for you.   The directory is controlled through config.php via that $dataDir variable.   You need to trace from there.

[2013-09-20 03:26] #62 closed, assigned to nobody

[2014-06-17 17:53] Kapeli opened #64 "API viewer used by dojotoolkit.org"
Is this the same API viewer used by dojotoolkit.org?

I'm trying to convert the docs to a format that my app ([Dash](http://kapeli.com/dash)) understands, but I'm not able to grab the content of the docs anymore.

The generation script I have traverses http://dojotoolkit.org/api/data/1.10/tree.json and grabs the content of the pages from URLs like http://dojotoolkit.org/api/lib/item.php?p=dijit/_b

[2014-06-17 21:47] wkeese commented on #64
No, it's not, as the description for this project says, it's the old viewer for output of old js-doc-parse, replaced by https://github.com/lbod/dapi.

[2014-06-17 21:47] #64 closed, assigned to nobody

[2016-12-15 20:43] ghost opened #65 "Process fail"

[2016-12-15 20:46] #65 closed, assigned to nobody